{% extends 'base.html' %}

{% block title %}Delete Task{% endblock %}

{% block content %}
<div class="container-md border"  style="margin-top: 15px; border-radius: 10px;">
    <h3>Delete Task</h3>
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete: {{object.title}}?</p>
        <button type="submit" class="btn btn-outline-danger" style="margin-top: 5px; margin-bottom: 10px;">
            Delete
        </button>
        <a href="{% url 'home' %}">
            <button type="button" class="btn btn-outline-primary" style="margin-top: 5px; margin-bottom: 10px;">
                Go Home
            </button>
        </a>
    </form>
    
</div>
{% endblock %}